{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col">
    <div class="h3">
        Metodo de Pago
    </div>

</div>


<div class="">
    <form action="" method="post" id="payment-form">
        <div class="form-group">
            <div class="form-control form-control-payment" id="card-element">

            </div>
            <div id="card-erros" role='alert'>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" data-secret="{{ client_secret }}">Agregar tarjeta</button>
    </form>
</div>

<script>
    var STRIPE_PUBLIC_KEY = 
    'pk_test_51Pzb4hCPQe35j10b0QeLwHKo3zQRd4w1BI0M1hvIRX776ckDnM4qB3WvAffqAhdfc4VdfRGRDptjmsmFiDtN4kXD003pTKi9Ru';
    var CSRF_TOKEN = '{{csrf_token}}';
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}